@mixin Flex ($j-content,$items,$flex-d) {
    display: flex;
    justify-content: $j-content;
    align-items: $items;
    flex-direction: $flex-d;
}

@mixin Parag ($f-size,$f-weight,$l-height,$color) {
    font-size: $f-size;
    font-weight: $f-weight;
    line-height: $l-height;
    color: $color;
}

@mixin Img ($width,$height,$o_fit) {
    width: $width;
    height: $height;
    object-fit: $o_fit;
}

@mixin  btn ($m_top,$width,$height,$f-size,$f-weight,$b-radius,$border) {
 margin-top: $m_top;
 width: $width;   
 height: $height;
 font-size: $f-size;
 font-weight: $f-weight;
 border-radius: $b-radius;
 border: $border;
}