@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  margin: 0;
  padding: 0;
}

nav {
  padding: 14px 0;
}
nav .logo img {
  width: 100%;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
nav .nav_link {
  height: 50px;
}
nav .nav_link ul {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
nav .nav_link ul li {
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
}
nav .nav_link ul li a {
  color: #000000;
}
nav .nav_link .nav_icon ul {
  gap: 14px;
}

#center_img {
  width: 100%;
}

section .relative_item {
  position: relative;
}
section .relative_item .absaulte_text {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50px;
  left: 20px;
}
section .relative_item .absaulte_text .text .text2 {
  font-family: "Mali";
  font-size: 33px;
  font-weight: 400;
  line-height: 43px;
  color: #000000;
}
section .relative_item .absaulte_text .text h1 {
  font-family: "Mali";
  font-size: 38px;
  font-weight: 600;
  line-height: 55px;
  color: #000000;
}
section .relative_item .absaulte_text .text:hover {
  cursor: pointer;
}
section .relative_item .absaulte_text .pos {
  margin-top: 70px;
  cursor: pointer;
}

#kinder_garden .bagca_info img {
  width: 100%;
  border-radius: 8px;
}
#kinder_garden .bagca_info p {
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
  color: #000000;
}
#kinder_garden .bagca_info .bagca {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #000000;
  padding: 8px 0;
}
#kinder_garden button {
  height: 56px;
  width: 180px;
  background-color: #F3EA00;
  border-radius: 17px;
  float: right;
  border: none;
}

#work_list {
  padding-top: 100px;
}
#work_list .work_img {
  position: relative;
}
#work_list .work_img .work_text {
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 5;
}
#work_list .work_img .work_text h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  color: #FFFFFF;
}
#work_list .work_img .work_text p {
  font-size: 45px;
  font-weight: 500;
  line-height: 56px;
  color: #FFFFFF;
}
#work_list .work_img .work_text button {
  height: 56px;
  width: 180px;
  background-color: #F3EA00;
  border-radius: 17px;
  border: none;
  margin: 20px 0;
}

#employee .isciler img {
  width: 100%;
  height: 326px;
  -o-object-fit: contain;
     object-fit: contain;
}
#employee .isciler .isci_info {
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 15.87%, rgba(105, 112, 115, 0.02) 230.16%);
  border-radius: 0px 0px 3.33333px 3.33333px;
}
#employee .isciler .isci_info p {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  padding: 4px 0;
}

#modal .modal-content {
  width: 1000px;
  height: 700px;
  margin-left: -200px;
}
#modal .modal-body h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}
#modal .modal-body .modal_form form {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#modal .modal-body .modal_form form input {
  width: 345px;
  height: 50px;
  display: block;
  margin-top: 14px;
  padding: 4px 14px;
  border: 1.25px solid rgba(217, 217, 217, 0.6980392157);
}
#modal .modal-body .modal_form form h3 {
  font-weight: 700;
}
#modal .modal-body .left_item img {
  width: 368px;
  height: 311px;
}
#modal .modal-body .left_item button {
  width: 345px;
  height: 50px;
  background-color: #F3EA00;
  margin-top: 50px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

nav {
  padding: 14px 0;
}
nav .logo img {
  width: 100%;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
nav .nav_link {
  height: 50px;
}
nav .nav_link ul {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
nav .nav_link ul li {
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
}
nav .nav_link ul li a {
  color: #000000;
}
nav .nav_link .nav_icon ul {
  gap: 14px;
}

main h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  color: #000000;
}
main .img_35 img {
  float: right;
  width: 100%;
  height: 676px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer #bagca_footer {
  height: 56px;
  width: 179px;
  cursor: pointer;
  padding: 0 8px;
}
footer .footer_link ul li {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 12px;
}
footer .mobil a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
footer .mobil p {
  padding: 8px 0;
}
footer .registration {
  cursor: pointer;
}
footer .registration p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
footer .vakansiya {
  cursor: pointer;
}
footer .vakansiya p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
footer .position form {
  position: relative;
}
footer .position form input {
  background-color: gray;
  box-shadow: none;
  border-radius: 4px;
}
footer .position form input::-moz-placeholder {
  color: #000000 !important;
  opacity: 1;
}
footer .position form input:-ms-input-placeholder {
  color: #000000 !important;
  opacity: 1;
}
footer .position form input::placeholder {
  color: #000000 !important;
  opacity: 1;
}
footer .position form div {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 5;
}
footer .social_icon {
  width: 100%;
}
footer .social_icon p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}
footer .social_icon img {
  float: right;
  padding: 0 14px;
}

nav {
  padding: 14px 0;
}
nav .logo img {
  width: 100%;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
nav .nav_link {
  height: 50px;
}
nav .nav_link ul {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
nav .nav_link ul li {
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
}
nav .nav_link ul li a {
  color: #000000;
}
nav .nav_link .nav_icon ul {
  gap: 14px;
}
@media screen and (max-width: 560px) {
  nav .nav_link {
    display: none;
  }
}

main .container_div h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  color: #000000;
  margin-left: 8%;
}
main .container_div .contact {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 4px;
}
main .container_div .contact form {
  width: 100%;
  height: 300px;
  padding: 10px 0;
}
main .container_div .contact form input {
  display: block;
  outline: none;
  width: 480px;
  margin-top: 30px;
  padding: 10px 8px;
  margin-left: 5%;
  border: 1.25px solid rgba(101, 101, 101, 0.5019607843);
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  box-shadow: none;
}
main .container_div .contact form input:nth-child(3) {
  height: 150px;
}
main .container_div .contact form textarea {
  margin-left: 5%;
  margin-top: 24px;
  padding: 5px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
}
main .container_div button {
  float: right;
  margin-top: 20px;
  width: 180px;
  height: 56px;
  background-color: #F3EA00;
  font-size: 20px;
  font-weight: 500;
  border-radius: 17px;
  border: none;
}

footer #bagca_footer {
  height: 56px;
  width: 179px;
  cursor: pointer;
  padding: 0 8px;
}
footer .footer_link ul li {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 12px;
}
footer .mobil a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
footer .mobil p {
  padding: 8px 0;
}
footer .registration {
  cursor: pointer;
}
footer .registration p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
footer .vakansiya {
  cursor: pointer;
}
footer .vakansiya p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
footer .position form {
  position: relative;
}
footer .position form input {
  background-color: gray;
  box-shadow: none;
  border-radius: 4px;
}
footer .position form input::-moz-placeholder {
  color: #000000 !important;
  opacity: 1;
}
footer .position form input:-ms-input-placeholder {
  color: #000000 !important;
  opacity: 1;
}
footer .position form input::placeholder {
  color: #000000 !important;
  opacity: 1;
}
footer .position form div {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 5;
}
footer .social_icon {
  width: 100%;
}
footer .social_icon p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}
footer .social_icon img {
  float: right;
  padding: 0 14px;
}

nav {
  padding: 14px 0;
}
nav .logo img {
  width: 100%;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
nav .nav_link {
  height: 50px;
}
nav .nav_link ul {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
nav .nav_link ul li {
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
}
nav .nav_link ul li a {
  color: #000000;
}
nav .nav_link .nav_icon ul {
  gap: 14px;
}

main #vakansiyalar .text {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}
main #vakansiyalar .text h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}
main #vakansiyalar .text button {
  width: 130px;
  height: 36px;
  margin-right: 140px;
  background-color: #F3EA00;
  border-radius: 50px;
  border: 1px solid transparent;
}

#teacher_content {
  display: flex;
}
#teacher_content img {
  height: 314px;
  width: 263px;
  border-radius: 4px;
}
#teacher_content h2 {
  padding: 12px 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  color: #000000;
}
#teacher_content .btn_info {
  background-color: #F3EA00;
  width: 130px;
  height: 36px;
  border: none;
  border-radius: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
#teacher_content button {
  width: 130px;
  height: 36px;
  border: 1px solid #f3ea00;
  border-radius: 50px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 20px;
}

main #kinder_garden_info h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #000000;
}
main #kinder_garden_info h2 {
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  color: #000000;
}
main #kinder_garden_info .input {
  position: relative;
}
main #kinder_garden_info .input input {
  border: 0.25px solid #656565;
  width: 100%;
  height: 30px;
  background-color: transparent;
  color: rgba(48, 48, 48, 0.6980392157);
  border-radius: 4px;
  padding: 0 30px;
  outline: none;
}
main #kinder_garden_info .input img {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 7px;
  left: 5px;
}
main #kinder_garden_info .check_garden {
  padding: 5px;
  gap: 4px;
  display: flex;
}
main #kinder_garden_info .check_garden p {
  font-size: 15px;
  font-weight: 600;
}
main #kinder_garden_info #price {
  margin-top: 70px;
}
main #bagca_img {
  margin-top: 100px;
}
main #bagca_img .bagca_item img {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 8px;
  cursor: pointer;
}
main #bagca_img .bagca_item .text_title {
  margin: 14px 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
}
main #bagca_img .bagca_item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}
main section #img_div img {
  cursor: pointer;
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
main section #img_div #btn {
  margin-top: 120px;
}

main #lg_3 {
  margin-left: 50px;
}
main .box {
  height: 322px;
  width: 282px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .box p {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  color: #000000;
}
main .id {
  width: 100%;
  height: auto;
  background-color: white;
}
main .id form {
  padding: 0 20px;
}
main .id form .form_name {
  display: flex;
  gap: 25px;
}
main .id form .form_name input {
  display: block;
  border: 1.25px solid rgba(217, 217, 217, 0.6980392157);
  border-radius: 4px;
}
main .id form .mobile {
  padding: 20px 0;
}
main .id form .mobile input {
  display: block;
  margin-top: 12px;
  border: 1.25px solid rgba(217, 217, 217, 0.6980392157);
  border-radius: 4px;
}
main .id form .mobile input::-moz-placeholder {
  font-weight: 500;
  color: black;
}
main .id form .mobile input:-ms-input-placeholder {
  font-weight: 500;
  color: black;
}
main .id form .mobile input::placeholder {
  font-weight: 500;
  color: black;
}
main .id form .email input {
  width: 30%;
  display: block;
  border: 1.25px solid rgba(217, 217, 217, 0.6980392157);
  border-radius: 4px;
}
main .id form .gender {
  padding: 16px 0;
  display: flex;
  gap: 20px;
}
main .id form .gender input {
  display: block;
  width: 150px;
  border: 1.25px solid rgba(217, 217, 217, 0.6980392157);
  border-radius: 4px;
}
main .id form .school {
  display: flex;
  flex-direction: column;
}
main .id form .school input {
  width: 400px;
  border: 1.25px solid rgba(217, 217, 217, 0.6980392157);
  border-radius: 4px;
}
main .id form .work {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
main .id form .work textarea {
  width: 40%;
  border-radius: 4px;
}
main button {
  float: right;
  margin-right: 15%;
  margin-top: 20px;
  background-color: #F3EA00;
  height: 56px;
  width: 180px;
  border: transparent;
  border-radius: 17px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

#cv_footer {
  margin-top: 300px;
}
#cv_footer #bagca_footer {
  height: 56px;
  width: 179px;
  cursor: pointer;
  padding: 0 8px;
}
#cv_footer .footer_link ul li {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 12px;
}
#cv_footer .mobil a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
#cv_footer .mobil p {
  padding: 8px 0;
}
#cv_footer .registration {
  cursor: pointer;
}
#cv_footer .registration p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
#cv_footer .vakansiya {
  cursor: pointer;
}
#cv_footer .vakansiya p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  padding: 8px 0;
}
#cv_footer .position form {
  position: relative;
}
#cv_footer .position form input {
  background-color: gray;
  box-shadow: none;
  border-radius: 4px;
}
#cv_footer .position form input::-moz-placeholder {
  color: #000000 !important;
  opacity: 1;
}
#cv_footer .position form input:-ms-input-placeholder {
  color: #000000 !important;
  opacity: 1;
}
#cv_footer .position form input::placeholder {
  color: #000000 !important;
  opacity: 1;
}
#cv_footer .position form div {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 5;
}
#cv_footer .social_icon {
  width: 100%;
}
#cv_footer .social_icon p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}
#cv_footer .social_icon img {
  float: right;
  padding: 0 14px;
}

main .col-lg-12 {
  border-radius: 4px;
  width: 100%;
  height: auto;
  background-color: white;
}
main .cart_name {
  padding: 20px 0;
}
main .cart_name input {
  display: block;
  width: 100%;
  padding: 10px 8px;
  margin-top: 20px;
  border: 1.25px solid rgba(156, 153, 153, 0.2117647059);
  border-radius: 4px;
}
main .cart_name .cvv {
  gap: 20px;
}
main .cart_name .cvv input {
  display: inline-block;
  width: 40%;
}
main .cart_name .cvv input:nth-child(2) {
  margin-left: 20px;
}
main .cart_name .cvv input:nth-child(2)::-moz-placeholder {
  padding: 0 20px;
}
main .cart_name .cvv input:nth-child(2):-ms-input-placeholder {
  padding: 0 20px;
}
main .cart_name .cvv input:nth-child(2)::placeholder {
  padding: 0 20px;
}
main .right_img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 400px;
  float: none;
}
main .card {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .card img {
  gap: 20px;
  width: 60px;
  height: 50px;
  border: none;
}
main button {
  float: left;
}

#employee .search {
  display: flex;
  justify-content: space-between;
}
#employee .search h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  color: #000000;
}
#employee .search input {
  width: 387px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 8px;
}
#employee .search input::-moz-placeholder {
  padding: 0 30px;
  font-size: 17px;
  font-weight: 500;
}
#employee .search input:-ms-input-placeholder {
  padding: 0 30px;
  font-size: 17px;
  font-weight: 500;
}
#employee .search input::placeholder {
  padding: 0 30px;
  font-size: 17px;
  font-weight: 500;
}
#employee .search .text h2 {
  font-size: 20px;
}
#employee .search .text button {
  background-color: #F3EA00;
  height: 36px;
  width: 130px;
  border: transparent;
  border-radius: 17px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
#employee .search .position {
  position: relative;
}
#employee .search .position img {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 16px;
  height: 16px;
}
#employee .col-lg-4 {
  margin-top: 100px;
}

section .isciler img {
  width: 100%;
  height: 326px;
  -o-object-fit: contain;
     object-fit: contain;
}
section .isciler .isci_info {
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 15.87%, rgba(105, 112, 115, 0.02) 230.16%);
  border-radius: 0px 0px 3.33333px 3.33333px;
}
section .isciler .isci_info p {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  padding: 4px 0;
}
section #logoped_info li {
  list-style-type: circle;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
}
section #logoped_info li::marker {
  color: white;
}

.text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  padding: 8px 0;
}

section .text1 {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
  padding: 14px 0;
}
section .center_img {
  width: 900px;
  height: 630px;
  float: right;
}

main section #left_item img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
main section #left_item #left_text {
  margin-top: 20px;
}
main section #left_item #left_text h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}
main section #left_item #left_text p {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  padding: 8px 0;
}
main section .img_item {
  gap: 20px;
  display: flex;
}
main section .img_item .img_1 {
  width: 270px;
  height: 257px;
}
main section .img_item .img_2 {
  width: 100%;
  height: 233px;
}
main section .img_item .img_3 {
  width: 100%;
  height: 200px;
}
main section .bagca_content {
  font-size: 17px;
  font-weight: 500;
  line-height: 20.72px;
  color: #000000;
  padding: 14px 0;
}
main #skewbox {
  position: relative;
  margin-top: 250px;
}
main #skewbox .skew {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 1200px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}
main #skewbox .content {
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 2% 5%;
  line-height: 1.5rem;
  font-size: 18px;
}
main #skewbox .imgbox {
  width: 50%;
  height: 100%;
  background-color: #ff0;
  border-left: 100px solid white;
  border-bottom: 400px solid transparent;
  background-position: 50px 0;
}

footer {
  margin-top: 600px;
}

main img {
  cursor: pointer;
}
main #img_item_1 img {
  width: 100%;
  height: 328px;
}
main #img_item_1 .wrapper {
  position: relative;
}
main #img_item_1 .wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgb(105, 105, 105);
}
main #img_item_1 .wrapper .overlay .content {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
main #img_item_1 .wrapper .overlay .content p a {
  z-index: 5;
  font-size: 30px;
  font-weight: 600;
  line-height: 21px;
  color: #FFFFFF;
}
main #img_item_1 .wrapper:hover .overlay {
  opacity: 0.5;
}
main #img_item_1 .wrapper:hover .overlay p {
  opacity: 1;
  color: white !important;
  z-index: 5;
}
main #img_item_2 img {
  width: 100%;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
main #img_item_3 img {
  width: 100%;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
main #img_item_4 img {
  width: 100%;
  height: 461px;
  -o-object-fit: contain;
     object-fit: contain;
}
main #img_item_5 .img_item_12 {
  width: 100%;
  height: 661px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #img_item_5 .img_item_13 {
  width: 100%;
  height: 661px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #img_item_6 img {
  width: 100%;
  height: 461px;
  -o-object-fit: contain;
     object-fit: contain;
}

main #magaza_box {
  display: flex;
}
main #magaza_box img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
main #magaza_box #text_item h2 {
  font-size: 27px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  padding: 12px 0;
  cursor: pointer;
}
main #magaza_box #text_item p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
  padding: 8px 0;
  cursor: pointer;
}
main #magaza_box .img_item {
  display: flex;
  justify-content: end;
}
main #magaza_box .img_item .right_img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
main #img_box .img_item {
  padding: 0 20px;
  gap: 20px;
}
main #img_box .img_item .img_box1 {
  width: 600px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
main #img_box .img_item .img_box2 {
  width: 345px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
main #img_box .img_item .img_box3 {
  width: 480px;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
main #img_box .img_item .img_box4 {
  width: 470px;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  gap: 20px;
}
main #img_box .img_item .flex img {
  padding-top: 20px;
}
main #img_box .img_item .flex .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #img_box .img_item .flex .btn button {
  margin-top: 30%;
}

#img_page_2 #img_item img {
  width: 100%;
  height: 328px;
}
#img_page_2 #img_item .wrapper {
  position: relative;
}
#img_page_2 #img_item .wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgb(105, 105, 105);
}
#img_page_2 #img_item .wrapper .overlay .content {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
#img_page_2 #img_item .wrapper .overlay .content p a {
  z-index: 5;
  font-size: 30px;
  font-weight: 600;
  line-height: 21px;
  color: #FFFFFF;
}
#img_page_2 #img_item .wrapper:hover .overlay {
  opacity: 0.5;
}
#img_page_2 #img_item .wrapper:hover .overlay p {
  opacity: 1;
  color: white !important;
  z-index: 5;
}
#img_page_2 #img_2 .img_size_1 {
  height: 466px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
#img_page_2 #img_2 .img_size_2 {
  height: 466px;
  width: 100%;
  border-radius: 4px;
}
#img_page_2 #img_3 .img_box .img_size_3 {
  width: 100%;
  height: 514px;
  -o-object-fit: cover;
     object-fit: cover;
}
#img_page_2 #img_3 .img_box .img_size_4 {
  width: 100%;
  height: 514px;
  -o-object-fit: cover;
     object-fit: cover;
}
#img_page_2 #img_3 .img_box .img_size_5 {
  width: 100%;
  height: 514px;
  -o-object-fit: cover;
     object-fit: cover;
}
#img_page_2 #img_4 img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
#img_page_2 #img_5 img {
  width: 100%;
}

main .rec_237 {
  width: 100%;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .text_item h2 {
  font-size: 27px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  padding: 14px 35px;
  cursor: pointer;
}
main .text_item p {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  padding: 14px 35px;
  cursor: pointer;
}
main .img_box {
  display: flex;
  justify-content: end;
}
main .img_box .relative {
  position: relative;
}
main .img_box .relative img {
  width: 850px;
  height: 810px;
}
main .img_box .relative .overlay {
  position: absolute;
  top: 27%;
  left: 40%;
}
main .img_box .relative .overlay img {
  width: 250px;
  height: 300px;
}

main {
  position: relative;
  margin-top: 50px;
  height: 800px;
  margin-left: 11%;
  width: 80%;
  height: 2500px;
  background-color: white;
}
main #work_info .work_melumat {
  margin-top: 50px;
}
main #work_info .work_melumat h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin: 20px;
}
main #work_info .work_melumat .work_content {
  width: 320px;
  height: 450px;
  border: 4.25px solid #656565;
  margin: 20px;
  border-radius: 4px;
}
main #work_info .work_melumat .work_content h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
  padding: 10px;
}
main #work_info .work_melumat .work_content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: #000000;
  padding: 6px 10px;
}
main #work_info .work_melumat .work_requirements {
  padding: 10px 0;
}
main #work_info .work_melumat .work_requirements p {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}
main #work_info .work_melumat button {
  margin: 10px 20px;
  background-color: #F3EA00;
  height: 56px;
  width: 180px;
  border: transparent;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
main .number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  gap: 20px;
}
main .number .num_one {
  border: 1px solid black;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}
main .number span {
  padding: 0 14px;
}
main #saly {
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: -75px;
  right: -100px;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */