main {
    .container_div {
        h2 {
            @include Parag(30px, 600, 37px, $black-color);
            margin-left: 8%;
            @media screen and (max-width: 768px) {
                margin-left: 0;
            }
        }
        .contact {
            width: 100%;
            height: 400px;
            background-color: white;
            border-radius: 4px;
            form {
                width: 100%;
                height: 300px;
                padding: 10px 0;

                input {
                    display: block;
                    margin-top: 30px;
                    margin-left: 5%;
                    font-size: 17px;
                    font-weight: 500;
                    box-shadow: none;
                    @include Input(1.25px solid #65656580,480px,null,null,null,10px 8px,6px 10px,none);
                    &:nth-child(3) {
                        height: 150px;
                    }
                    @media (max-width:400px){
                        width: 340px;
                    }
                }
                textarea {
                    @include textarea(5%,24px,5px,4px,17px,500);
                    width: 76%;
                    height: 100px;
                    resize: none;
                    color:black;
                    @media (max-width:500px){
                        width: 93%;
                        
                    }
                }
            }
        }

        button {
            float: right;
            background-color: $btn_color;
            @include btn(20px, 180px, 56px, 20px, 500, 17px, transparent);
        }
        .contact_img{
            max-width: 100%;
        }
    }
}
footer {
    #bagca_footer {
        margin: 0;
        height: 56px;
        width: 179px;
        cursor: pointer;
        padding: 0 8px;
    }

    .footer_link {
        ul {
            li {
                @include Parag(15px, 400, 18px, $black-color);
                padding: 8px 12px;
            }
        }
    }
    .registration {
        cursor: pointer;
        p {
            @include Parag(15px, 400, 18px, $black-color);
            padding: 8px 0;
        }
    }

    .vakansiya {
        cursor: pointer;
        p {
            @include Parag(15px, 400, 18px, $black-color);
            padding: 8px 0;
        }
    }
    .position {
        form {
            position: relative;
            input {
                background: #969292;
                box-shadow: none;
                border-radius: 4px;
                &::placeholder {
                    color: $black-color !important;
                    opacity: 1;
                }
            }
            div {
                position: absolute;
                top: 3px;
                right: 5px;
                z-index: 5;
            }
        }

        .social_icon {
            width: 100%;

            p {
                @include Parag(15px, 400, 18px, $black-color);
            }
            img {
                float: right;
                padding: 0 14px;
            }
        }
    }
}

// 177