#cv_item{
    margin:100px 50px;
     border: none;

}

main {
    #lg_3 {
        margin-left: 50px;
    }
    .box {
        height: 322px;
        width: 282px;
        border-radius: 4px;
        background-color: white;
        @include Flex(center, center, column);
        p {
            padding: 0;
            margin: 0;
            @include Parag(30px, 500, 37px, $black-color);
        }
    }

    .id {
        width: 100%;
        height: auto;
        background-color: white;

        form {
            padding: 30px  20px;
            .form_name {
                display: flex;
                gap: 25px;

                input {
                    display: block;
                    border: 1.25px solid #d9d9d9b2;
                    border-radius: 4px;
                }
            }

            .mobile {
                padding: 20px 0;
                input {
                    display: block;
                    margin-top: 12px;
                    border: 1.25px solid #d9d9d9b2;
                    border-radius: 4px;

                    &::placeholder {
                        font-weight: 500;
                        color: black;
                    }
                }
            }
            .email {
                input {
                    width: 30%;
                    display: block;
                    border: 1.25px solid #d9d9d9b2;
                    border-radius: 4px;
                }
            }
            .gender {
                padding: 16px 0;
                display: flex;
                gap: 20px;
                input {
                    display: block;
                    width: 150px;
                    border: 1.25px solid #d9d9d9b2;
                    border-radius: 4px;
                }
            }
            .school {
                display: flex;
                flex-direction: column;
                input {
                    width: 400px;
                    border: 1.25px solid #d9d9d9b2;
                    border-radius: 4px;
                }
            }

            .work {
                display: flex;
                flex-direction: column;
                padding: 20px 0;
                textarea {
                    width: 40%;

                    border-radius: 4px;
                }
            }
        }
    }

    #cv_btn {
        float: right;
        margin-right: 12%;
        background-color: $btn_color;
        line-height: 24px;
        @include btn(20px, 180px, 56px, 20px, 500, 17px, transparent);
    }
}


#cv_footer {
    margin-top: 200px;
    #bagca_footer {
        height: 56px;
        width: 179px;
        cursor: pointer;
        padding: 0 8px;
    }

    .footer_link {
        ul {
            li {
                @include Parag(15px, 400, 18px, $black-color);
                padding: 8px 12px;
            }
        }
    }

    .mobil {
        a {
            display: block;
            @include Parag(15px, 400, 18px, $black-color);
            padding: 8px 0;
        }
        p {
            padding: 8px 0;
        }
    }

    .registration {
        cursor: pointer;
        p {
            @include Parag(15px, 400, 18px, $black-color);
            padding: 8px 0;
        }
    }

    .vakansiya {
        cursor: pointer;
        p {
            @include Parag(15px, 400, 18px, $black-color);
            padding: 8px 0;
        }
    }
    .position {
        form {
            position: relative;
            input {
                background-color: gray;
                box-shadow: none;
                border-radius: 4px;

                &::placeholder {
                    color: $black-color !important;
                    opacity: 1;
                }
            }
            div {
                position: absolute;
                top: 3px;
                right: 5px;
                z-index: 5;
            }
        }
    }

    .social_icon {
        width: 100%;

        p {
            @include Parag(15px, 400, 18px, $black-color);
        }
        img {
            float: right;
            padding: 0 14px;
        }
    }
}

// 187