#img_page_2 {
    #img_item {
        img {
            width: 100%;
            height: 328px;
        }
        .wrapper {
            position: relative;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                height: 100%;
                width: 100%;
                background: rgb(105, 105, 105);

                .content {
                    position: absolute;
                    bottom: 10px;
                    left: 45%;
                    z-index: 5;
                    transform: translate(-50%, -50%);

                    p {
                        a {
                            z-index: 5;
                            @include Parag(30px, 600, 21px, $white-color);
                        }
                    }
                }
            }
            &:hover {
                .overlay {
                    opacity: 0.5;

                    p {
                        opacity: 1;
                        color: white !important;
                        z-index: 5;
                    }
                }
            }
        }
    }

    #img_2 {
        .img_size_1 {
            height: 466px;
            width: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
        .img_size_2 {
            height: 466px;
            width: 100%;
            border-radius: 4px;
        }
    }
    #img_3 {
        .img_box {
            .img_size_3 {
                
                    width: 100%;
                    height: 514px;
                    object-fit: cover;
                
            }
            .img_size_4 {
                width: 100%;
                height: 514px;
                object-fit: cover;
            }
            .img_size_5 {
                width: 100%;
                height: 514px;
                object-fit: cover;
            }
        }
    }
    #img_4{
        img{
            width: 100%;
            height: 260px;
            object-fit: cover;
        }
    }

    #img_5{
        img{
            width: 100%;
        }
    }
}


