section {
    .isciler {
        img {
            width: 100%;
            height: 326px;
            object-fit: contain;
        }
        .isci_info {
            width: 100%;
            height: 50px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 15.87%, rgba(105, 112, 115, 0.02) 230.16%);
            border-radius: 0px 0px 3.33333px 3.33333px;
            p {
                text-align: center;
                @include Parag(17px, 500, 20px, $black-color);

                padding: 4px 0;
            }
        }
    }

    #logoped_info {
        li {
            list-style-type: circle;

            @include Parag(18px, 500, 22px, $black-color);
            &::marker {
                color: white;
            }
        }
    }
}

.text {
   
    p {
        @include Parag(18px, 400, 24px, $black-color);
        padding: 8px 0;
    }
}



