#employee_xadime {
    margin-top: 100px;
    .text {
        @include Flex(start, end, column);
    }
    #xadime_cv {
        margin-right: 22%;
        @include btn(15px, 130px, 36px, 15px, 600, 50px, none);
        background-color: $btn_color;
    }
    .isciler {
        display: flex;
@media(max-width:400px){
    display: block;
}
        .xadime_info {
            width: 100%;

            p {
                @include Parag(28px, 600, 30px, $black_color);
                padding: 0 20px
            }
            span {
                @include Parag(30px, 500, 60px, $black_color);
                padding: 0 20px
            }
        }
        .xadime_btn {
            display: flex;

            button {
                width: 50%;
                @include btn(15px, 130px, 36px, 15px, 600, 50px, none);
                background-color: $btn_color;
                margin-left: 10px;
            }
            button:nth-child(2) {
                margin-left: 20px;
                background-color: inherit;
                border: 1px solid #f3ea00;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .text {
            display: flex;
            align-items: start;
        }
    }
}
